In [1]:
# Example 1: Simple if
x = 10
if x > 5:
    print("Greater than 5")

Greater than 5

In [2]:
# Example 2: if-else
x = 3
if x > 5:
    print("Greater")
else:
    print("Not greater")

Not greater

In [3]:

# Example 3: if-elif-else
score = 85
if score > 90:
    print("A")
elif score > 80:
    print("B")
else:
    print("C")

B

In [4]:
# Example 4
name = "Alice"
if name == "Alice":
    print("Welcome Alice")

Welcome Alice

In [5]:
# Example 5
age = 18
if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

In [6]:

# Example 6
num = 0
if num == 0:
    print("Zero")
else:
    print("Non-zero")

Zero

In [7]:
# Example 7
n = -5
if n < 0:
    print("Negative")
elif n == 0:
    print("Zero")
else:
    print("Positive")

Negative

In [8]:
# Example 8
temp = 30
if temp > 25:
    print("Hot")
else:
    print("Cool")

Hot

In [9]:
# Example 9
language = "Python"
if language == "Python":
    print("Language matched")

Language matched

In [10]:
# Example 10
marks = 65
if marks >= 90:
    print("Excellent")
elif marks >= 75:
    print("Very Good")
elif marks >= 50:
    print("Good")
else:
    print("Fail")

Good

In [11]:
# Example 11
flag = True
if flag:
    print("Flag is True")

Flag is True

In [12]:

# Example 12
a, b = 10, 20
if a < b:
    print("a is less than b")

a is less than b

In [13]:
# Example 13
x = 100
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [14]:
# Example 14
grade = 'A'
if grade == 'A':
    print("Excellent")
elif grade == 'B':
    print("Good")
else:
    print("Average")

Excellent

In [15]:
# Example 15
price = 120
if price > 100:
    print("Too expensive")

Too expensive

In [16]:
# Example 16
rain = False
if rain:
    print("Take umbrella")
else:
    print("No need")

No need

In [17]:
# Example 17
fruit = "apple"
if fruit in ["apple", "banana", "mango"]:
    print("Available")

Available

In [18]:

# Example 18
x = 25
if x > 10 and x < 50:
    print("In range")

In range

In [19]:
# Example 19
balance = 500
withdraw = 600
if balance >= withdraw:
    print("Withdraw successful")
else:
    print("Insufficient balance")

Insufficient balance

In [20]:

# Example 20
char = 'z'
if char.isalpha():
    print("Alphabet")

Alphabet

In [21]:

# Example 21
password = "admin123"
if len(password) >= 8:
    print("Valid Password")

Valid Password

In [22]:

# Example 22
x = 0
if not x:
    print("x is zero")

x is zero

In [23]:

# Example 23
user = "admin"
if user == "admin":
    print("Access granted")

Access granted

In [24]:
# Example 24
x = 15
if x % 5 == 0:
    print("Divisible by 5")

Divisible by 5

In [25]:

# Example 25
s = "OpenAI"
if s.startswith("O"):
    print("Starts with O")

Starts with O

In [26]:

# Example 26
grade = 60
if grade >= 50:
    print("Pass")
else:
    print("Fail")

Pass

In [27]:

# Example 27
time = 14
if time < 12:
    print("Morning")
elif time < 18:
    print("Afternoon")
else:
    print("Evening")

Afternoon

In [28]:

# Example 28
temp = 0
if temp <= 0:
    print("Freezing")

Freezing

In [29]:

# Example 29
value = 10
if value:
    print("Truthy value")

Truthy value

In [30]:

# Example 30
n = 21
if n % 7 == 0:
    print("Divisible by 7")

Divisible by 7

In [31]:

# Example 31
status = "Success"
if status == "Success":
    print("Operation successful")

Operation successful

In [32]:

# Example 32
gender = "female"
if gender.lower() == "female":
    print("Hello Madam")

Hello Madam

In [33]:

# Example 33
year = 2024
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")

Leap year

In [34]:

# Example 34
age = 5
if age < 13:
    print("Child")
elif age < 20:
    print("Teen")
else:
    print("Adult")

Child

In [35]:

# Example 35
speed = 80
if speed > 60:
    print("Over speed")

Over speed

In [36]:

# Example 36
income = 45000
if income < 50000:
    print("Low income")
else:
    print("Good income")

Low income

In [37]:

# Example 37
height = 180
if height > 170:
    print("Tall")

Tall

In [38]:

# Example 38
weight = 70
if weight < 60:
    print("Underweight")
elif weight <= 80:
    print("Normal")
else:
    print("Overweight")

Normal

In [39]:

# Example 39
letter = 'a'
if letter in 'aeiou':
    print("Vowel")
else:
    print("Consonant")

Vowel

In [40]:

# Example 40
x = 10
if x != 0:
    print("Not zero")

Not zero

In [41]:

# Example 41
count = 0
if count == 0:
    print("Empty")

Empty

In [42]:
# Example 42
role = "manager"
if role == "admin":
    print("Admin access")
elif role == "manager":
    print("Manager access")
else:
    print("Guest access")

Manager access

In [43]:

# Example 43
day = "Sunday"
if day == "Sunday":
    print("Holiday")

Holiday

In [44]:

# Example 44
email = "user@example.com"
if "@" in email:
    print("Valid email")

Valid email

In [45]:

# Example 45
x = 9
if x in [1, 3, 5, 7, 9]:
    print("Odd single-digit")

Odd single-digit

In [46]:

# Example 46
celsius = 37
if celsius >= 37:
    print("Fever")

Fever

In [47]:
# Example 47
n = 50
if n > 100:
    print("Huge")
else:
    print("Moderate or Small")

Moderate or Small

In [48]:

# Example 48
x, y = 8, 9
if x == y:
    print("Equal")
else:
    print("Not equal")

Not equal

In [49]:
# Example 49
score = 55
if score >= 90:
    print("A")
elif score >= 75:
    print("B")
elif score >= 60:
    print("C")
elif score >= 50:
    print("D")
else:
    print("F")

D

In [50]:

# Example 50
logged_in = True
if logged_in:
    print("Dashboard")
else:
    print("Login first")

Dashboard