In [18]:
for i in range(2,8):
  for j in range(2,i):
    print(j, end=" ")
  print()

2
2 3
2 3 4
2 3 4 5
2 3 4 5 6

In [20]:
for i in range(71, 75):
    for j in range(71,i):
        print(chr(j), end=" ")
    print()

G
G H
G H I

In [44]:
for i in range(1,5):
    print("*"*i, end="\n")

*
**
***
****

In [23]:

for i in range(3,9):
    for j in range(0,i):
        print(i, end=" ")
    print()

3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [24]:
x=1
for i in range(66,73):
  print(chr (i)*x, end="\n")
  x=x+1

B
CC
DDD
EEEE
FFFFF
GGGGGG
HHHHHHH

In [25]:

x=1
for i in range(5,0,-1):
    print(" "*i,x*"*")
    x=x+1

      *
     **
    ***
   ****
  *****

In [30]:
for i in range(1,13,2):
    print((i*"*").center(12," "))

     *
    ***
   *****
  *******
 *********
***********

In [35]:

s=" "
for j in range(1,6):
    s+=f"{j}"+" "
    print(s.center(11, " "))
s=" "

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [39]:

s=" "
for j in range(5,0,-1):
    s+=f"{j}"+" "
    print(s.center(12, " "))
s=" "

     5
    5 4
   5 4 3
  5 4 3 2
 5 4 3 2 1

In [43]:

x=""
for i in range(65,71):
        x=x+chr(i)+" "
        print(x.center(12," "))
        print()

     A

    A B

   A B C

  A B C D

 A B C D E

A B C D E F

In [45]:

x=""
for i in range(70,64,-1):
        x=x+chr(i)+" "
        print(x.center(12," "))
        print("")

     F

    F E

   F E D

  F E D C

 F E D C B

F E D C B A

In [49]:
for i in range(1,10,3):
    str="*"*i
    print(str.center(12, " "))

     *
    ****
  *******

In [62]:
for i in range(6,0,-1):
    for j in range (1,i):
        print(j, end=" ")

    print("\n")

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [63]:
x=5
for i in range(5,0,-1):
    for j in range (i,0,-1):
        print(x, end=" ")
        x=x-1

    print("\n")
    x=5

5 4 3 2 1

5 4 3 2

5 4 3

5 4

5

In [64]:
for i in range(1,6):
    for j in range (65,71-i):
        print(chr(j), end=" ")

    print()

A B C D E
A B C D
A B C
A B
A

In [65]:

x=1
for i in range(1,6):
    for j in range (i,0,-1):
        print(x, end=" ")
        x=x+1

    print("\n")

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [66]:

x=5
for i in range(1,6):
    for j in range (i,0,-1):
        print(x, end=" ")
        x=x-1

    print("\n")
    x=5

5

5 4

5 4 3

5 4 3 2

5 4 3 2 1