Here we use i which controls how many letters are printed in each row

In [73]:
for i in range(1,6):                      #outer loop runs for 5 times
    for j in range (65,65+i):             #Inner loop: start with ASCII 65('A'),end by decreasing limit(71-i)
        print(chr(j), end=" ")

    print()

A
A B
A B C
A B C D
A B C D E

In [74]:
for i in range(1,6):
    for j in range (65,71-i):
        print(chr(j), end=" ")

    print()

A B C D E
A B C D
A B C
A B
A

In [60]:

for i in range(1,6):
  print(i)
  for j in range (65,71-i):
        print(chr(j), end=" ")

  print("\n")

1
A B C D E

2
A B C D

3
A B C

4
A B

5
A

In [79]:
for i in range(1,6):
  for j in range(65,71-i):
    print(j)
    print(chr(j),end=" ")

65
A 66
B 67
C 68
D 69
E 65
A 66
B 67
C 68
D 65
A 66
B 67
C 65
A 66
B 65
A

In [83]:
rows = 5
for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

In [86]:
rows = 5
for i in range(5,0,-1):
    print("*" * i)

*****
****
***
**
*

In [94]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " *i)

    *
   * *
  * * *
 * * * *
* * * * *